{% extends 'customer/base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block body %}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://media.istockphoto.com/photos/fashionable-woman-shooping-in-shoes-retail-store-picture-id624216952?b=1&k=20&m=624216952&s=170667a&w=0&h=ih5beW7smZ2uuoQh5TcMeIA5dWtLEpTOmXfzHMbGAW0=" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1597633125184-9fd7e54f0ff7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGhhbmRiYWd8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://media.istockphoto.com/photos/womens-personal-accessories-picture-id655413652?b=1&k=20&m=655413652&s=170667a&w=0&h=oluDlxSQSdSKGnNMaQGmnEC-YoMmBdDqKnuR11G3j0w=" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


{% endblock %}
